		/*watty site*/
		#music-section{
			background: url('./img/watty.png') no-repeat;
   			background-size: 100%;		
		}
		audio{
			width: 246px;
			height: 30px;			
		}
		audio:focus {
   			outline: none;
		}
		.watty-parallax {
			/* The image used */
			background-image: url('./img/watty.png');

			/* Full height */
			height: 100%; 

			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		/*GLOBAL*/
		body{
			background-color: #000000;
		}
		.section{
			/*height: 100%;*/
		}
		#site-body{
			padding-top: 60px;
		}
		#site-body-row{
			opacity: 1;
		}
		.white-letter{
			color: white;
		}
		.red-text{
			color: red;
		}
		#banner-br{
			display: none;
		}
		.side-nav{
			display: none;
		}
		#submit-btn{
			color: white;
		}


/*HOME*/
		#home-section{
			height: 100%;
/*			background: url('./img/cover1.jpg') no-repeat;
   			background-size: 100%;*/			
		}
		#header-nav{
			background-color: #000000;
			padding-bottom: 10px;
		}
		#header-nav-fixed{
			padding-bottom: 10px;
			padding-top: 10px;
			/*display: none;*/
			width: 100%;
			z-index: 5;
			position: fixed;
			background-color: #000000;
		}
		#mobile-nav-fixed{
			display: none;
			padding-bottom: 10px;
			padding-top: 10px;
			/*display: none;*/
			width: 100%;
			z-index: 5;
			position: fixed;
			background-color: #000000;			
		}			
		#banner-title{
			cursor: pointer;
		}
		#name-title{
			font-family: 'Roboto Condensed', sans-serif;
			/*border: #ffffff 1px solid;*/
			font-size: 28px;
			/*letter-spacing: 1px;*/
			font-weight: 700;
			color: #ffffff;
			margin: 0px;
			height: 40px;
			padding-top: 4px;	
		}
		#under-title{
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color: #ff0000;
			/* font-size: 22px; */
			letter-spacing: 8px;
			margin: 0px;
			margin-top: -10px;
			padding: 0px;
			padding-left: 8px;
		}
		#home-parallax{
			/* The image used */
			background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('./img/watty-03.jpg');

			background-repeat: no-repeat;
			background-size: 100% 114%;
			
			/*background-position: 0px 98px;*/
		}
		#home-banner-name{
			letter-spacing: 22px;
			margin-bottom: 40px;
		}
		#home-sub-banner{
			padding-bottom: 50px;
		}
		#home-banner{		
			font-family: 'Oswald', sans-serif;
			text-align: center;
			color: #ffffff;
			/*font-family: bebas-neue;*/
		    font-weight: 700;
		    font-style: normal;
		    font-size: 50px;
		    letter-spacing: 0em;
			margin-top: 15%;	/*DONT USE % HERE	*/
		}
		.free-con-btn{
			padding-right: 25px;
			padding-left: 25px;
			/*font-size: 20px;*/
			background-color: #ff0000;
			color: #ffffff;
			cursor: pointer;
		}
		.sched-btn{	
			font-weight: 700;
		}
		#free-con-text{
			color: #ff0000;
		}

		.banner-btns{
			float: right;
			cursor: pointer;
			color: #ffffff;
			padding-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 12px;
		    font-weight: 600;
		    font-style: normal;
		    letter-spacing: .1em;
		    text-transform: uppercase;	    			
		}

		.text {
			padding-left: 5px;
			padding-right: 5px;
			text-align: center;
		    font-family: sans-serif;
		    font-size: 14px;
		    border: solid 0px #ff0000;
		    transition: border-width 0.1s linear;
		    color: #ffffff;
		    position: relative;
		}

		#nut-banner-btn:hover{
			border-color: #e0a800;
			border-left-width: 1.5px;	
		}		

		.text:hover { 
			border-color: #ff0000;
			border-left-width: 1.5px;
		}

		#free-con-text{
			margin-right: 25px;
		    transition: color 0.1s linear;
		}	

		#free-con-text:hover {
			color: #ffffff;
		}	

		.banner-btn3{
			color: #ff0000;
		}
		.banner-btn3:hover{
			color: #ffffff;
		}



/*ABOUT ME*/
		#abtme-section{
			padding-top: 40px;
		}
		#abtme-text-col{
			color: #ffffff;
			padding-top: 15%;
			padding-bottom: 45px;
		}
		#abtme-title{
			font-weight: 700;
			font-size: 65px;
			color:#ffffff;
			text-align: center;
		}
		#abtme-text{
			font-size: 22px;
			margin-top: 24px;
		}
		#abtme-sendoff{
			text-align: center;
			color: #ffffff;
			font-weight: 700;
		}

/*MY SERVICES*/
		#serv-section{
			/*height: 100%;*/
		}
		.services{
			/*background-color: #ffffff;*/
			color: #ffffff;
		}
		#ptraining-title{
			font-weight: 700;
			color: white;
			font-size: 50px;
			padding-top: 25px;
		}
		.pt-1{
			color: #ff0000;
		}
		#pt-paralax{
			color: #ffffff;
			background-repeat: no-repeat;			
			text-align: center;
			padding: 100px;
			letter-spacing: 1.5px;
			background-image: url('./img/watty-123.jpg');
			background-repeat: no-repeat;
			background-size: 100% 105%;		
		}
		#ptraining-overall-row{
/*			padding: 0px 10px 0px 25px; */
		}
		#ptraining-img{
			height: 100%;
			/*margin: 15px;*/
		}
		#overall-service{

		}
		#ptraining-includes-col{
			padding-left: 40px;
		}
		#ptraining-includes-title{
			font-size: 26px;
		}
		.ptraining-feat::before{
			content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: red; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
		.ptraining-feat{
			font-size: 20px;			
		}
		#ptraining-options-row{
			padding-top: 25px;
		}
		.pt-options-title{
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: 700;
		}
		.pt-options-text{
			font-size: 18px;
		}

/*NUTRITION*/
		#nut-title{
			font-weight: 700;
			color: white;
			font-size: 50px;
			padding-top: 25px;			
		}
		#nut-section{
			padding-bottom: 45px;
		}
		#nut-paralax{
			background-attachment: fixed;
			color: #ffffff;
			letter-spacing: 1.5px;
			background-repeat: no-repeat;			
			text-align: center;
			padding: 100px;
			background-image: url('./img/food1.jpg');
			background-repeat: no-repeat;
			background-size: 100% 100%;			 	
		}
		#nut-content{
			/*padding-top: 45px;*/
		}
		#nut-paragraph{
			font-size: 23px;
			color: #ffffff;
		}
		#nut-p-1{
			margin-bottom: 10px;
		}
		#nut-pic{
			width: 100%;
		}
		#nut-pic-1{
			display: block;
		}
		#nut-pic-2{
			display: none;
		}
	
/*CONSULTATION*/
		#consult-section{
			padding-bottom: 45px;
		}
		#consult-title{
			font-size:55px;
			font-weight: 700;
			color: #ffffff;
			padding-top: 25px;
		}
		#consult-paragraph{
			font-size: 23px;
			color: #ffffff;
		}
		#consult-pic{
			width: 100%;
		}

/*CONTACT*/
		#contact-section{
			color: #000000;
			padding-bottom: 60px;
			background-color: #000000;
			/*text-align: center;*/
		}
		#contact-title{
			text-align: center; 
			color: white;
			font-weight: 700;
		}
		#contact-top{
			padding-top: 45px;
		}
		.contact-labels{
			padding-top: 15px;
			/*padding-bottom: 10px;*/
			color: #ffffff;
		}
		label{
			color: #ffffff;
		}
		#email-contact-row{
			height: 25%;
		}
		#lastname-input{
			margin-top: 32px;
			width: 100%;
		}
		#email-title{
			/*height: 25%;*/
		}
		#email-input{
			width: 100%;
		}
		#prefered-meth-col{
			color: #ffffff;
		}
		.dropdown-group{
			margin: 0px;
		}
		#details-input{
			width: 100%;
			height: 100px;
		}
		#submit-btn{
			margin: 10px 10px 10px 0px;
		}
		.imgs{
			max-width: 100%;
   			max-height: 100%;  						
		}
		.datepicker{
			cursor: pointer;
			margin-left: 12px;

		}
		.phone-spacing{
			margin-top: 16px; 
		}
		#time-col{
			margin-top: 15px;
		}
		#meetup-address-col{
			font-size: 20px;
			margin: 20px;
		}
		#meetup-address{
			width: 419px;
		}
		.dropdown-item{
			cursor: pointer;
		}			

/*FOOTER*/
		#footer-section{
			margin-top: 100px;
			margin-bottom: 25px;
		}
		#social-icons{
			text-align: center;
		}
		#footer-section img{
			margin-left: 20px;
			margin-right: 20px;
			cursor: pointer;
			height: 30px;
			width: 30px;
		}
		#fb-pic:hover{
			opacity: 0.75;
		}

		#insta-pic:hover{
			opacity: 0.75;
		}
		#footer-consult-col{
			text-align: center;
		}
		#footer-consult-btn{
			cursor: pointer;
			color: #ff0000;
			margin: 20px;
			margin-top: 30px;
			letter-spacing: 2px;
		}
		#footer-consult-btn:hover{
			opacity: 0.75;
		}

/*MENU BARS*/
		#menu-btn{
			float: right;
			color: #ff0000;
			cursor: pointer;
		}
		.bar1, .bar2, .bar3{
			width: 25px;
			height: 4px;
			background-color: #ff0000;
			margin: 6px 0;
			transition: 0.4s;
		}
		.bar1{
			margin-top: 8px;
		}
		.change .bar1{
			-webkit-transform: rotate(-45deg) translate(-6.5px, 6px);
			transform: rotate(-45deg) translate(-6.5px, 6px);
		}

		.change .bar2{
			opacity: 0;
		}

		.change .bar3{
			-webkit-transform: rotate(45deg) translate(-8px, -8px);
			transform: rotate(45deg) translate(-8px, -8px);
		}

/*SIDE NAV*/
		.side-nav {
			position: fixed;
			left: -75%;
			background-color: white;
			height: 100%;
			width: 75%;
			z-index: 1;
			top: 60;
			overflow-x: hidden;
			padding-top: 20px;
		}

		.side-nav-btn {
			font-family: 'Oswald', sans-serif;
			cursor: pointer;
			font-weight: 700;
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: 25px;
			color: #000000;
			display: block;
		}

		.side-nav-btn:hover {
			color: #ff0000;
		}


/*SPECIAL MEDIAS*/
@media screen and (max-width: 1352px) {

	#abtme-title {
	    font-size: 57px;
	}
	#abtme-text-col {
		padding-top: 10%;
	}


	#ptraining-title {
	    font-size: 46px;
	}
	#ptraining-img {
		height: 100%;
	}

}


@media screen and (max-width: 1200px) {

	#abtme-title {
	    font-size: 48px;
	}
	#abtme-text-col {
		padding-top: 0px;
	}

	#ptraining-title {
		font-size: 35px;
	}
	#ptraining-includes-title {
	    font-size: 26px;
	}	

}

@media screen and (max-width: 1140px) {

	.text {
		font-size: 11.75px;
	}
	.banner-btns {
		padding-top: 11px;
	}	

	#home-sub-banner{
		font-size: 40px;
	}

	#ptraining-includes-title {
	    font-size: 23px;
	}

}

@media screen and (max-width: 1024px) {

	#site-body-row{
		opacity: 1;
	}

	.text {
		font-size: 11px;
	}
	.banner-btns {
		padding-top: 12px;
	}	

	#abtme-title {
	    font-size: 46px;
	}

	#ptraining-includes-title {
	    font-size: 22px;
	}	

}

@media screen and (max-width: 992px) {

	#header-nav-fixed {
	    display: none;
	}

	#mobile-nav-fixed{
		display: block;
	}

	.side-nav{
		display: block;
	}

	#site-body-row{
		opacity: 1;
	}

	.sched-btn{	
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	#abtme-img{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 50%;
	}
	#abtme-title {
	    font-size: 60px;
	}

	#ptraining-img {
		height: auto;
	}
	#ptraining-title {
	    font-size: 50px;
	}
	#ptraining-includes-title {
	    font-size: 26px;
	}
	.services{
		margin-bottom: 25px;
	}
	#ptraining-includes-col{
		margin-bottom: 0px;
	}

	#nut-pic-1{
		display: none;
	}
	#nut-pic-2{
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		display: block;		
		display: block;
		width: 50%;
	}
	#nut-title {
		text-align: center;
	}
	#nut-paragraph {
		padding: 0px 25px 0px 25px;
	}	

	#consult-title{
    	font-size: 49px;
		padding-left: 9.6%;
	}
	#consult-pic{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 80%;
		margin-bottom: 25px;
	}
	#lastname-input {
	    margin-top: 5px;	
	}

}

@media screen and (max-width: 768px) {

	#home-banner-name{
		font-size: 44px;
		letter-spacing: 14px;
	}
	#banner-br{
		display: block;
	}

	#ptraining-title {
	    font-size: 41px;
	}

	#nut-pic-2{
		width: 65%;
	}
 
 	#consult-title{
    	font-size: 49px;
		padding-left: 9.6%;
	}
}

@media screen and (max-width: 600px) {

	#abtme-img{
		width: 100%;
	}

	#ptraining-title {
	    font-size: 33px;
	}
	#ptraining-btn{
		font-size: 17px;
	}

	#mobile-title-col{
		width: 75%;
	}
	#mobile-menu-col{
		width: 25%;
	}

	#consult-title{
    	font-size: 37px;
	}	

}

/*@media screen and (max-width: 580px) {

	#mobile-title-col{
		width: 75%;
	}
	#mobile-menu-col{
		width: 25%;
	}	

}*/

@media screen and (max-width: 480px) {

	#home-parallax{
		background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('./img/watty-07.jpg');
   		background-size: 100% 100%;		
		background-position: center;
		background-repeat: no-repeat;
	}

	#abtme-title{
	    font-size: 45px;
	}

	#home-banner-name{
	    font-size: 26px;
	    letter-spacing: 10px;
	}
	#home-sub-banner{
		font-size: 26px;
	}


	#ptraining-title {
	    font-size: 21px;
	}
	#ptraining-includes-title {
	    font-size: 21px;
	}
	#ptraining-btn{
		margin-right: 32px;
	}

	#consult-title {
    	padding-left: 9%;
    	font-size: 26px;
	}

	#meetup-address {
	    width: 100%; 
	}

	#submit-btn{
		width: 100%
	}

	#footer-consult-btn{
		font-size: 21px;
	}

}

@media screen and (max-width: 350px) {

	#mobile-title-col{
		width: 90%;
	}
	#mobile-menu-col{
		width: 10%;
	}

}

@media screen and (max-width: 320px) {


}